.auth-container {
    display: flex;
    padding: 40px 116px 340px 0;
    justify-content: center;
}

.auth-info-title{
    font-size: 48px;
    line-height: 65px;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    margin-top: 30px;
}

.auth-info-subtitle {
    margin-top: 19px;
    margin-bottom: 51px;
    margin-left: 40px;
    font-size: 22px;
    line-height: 30px;
    letter-spacing: -0.015em;
    color: #F2F2F2;
    text-align: left;
}

.auth-content {
    margin-left: 351px;
}

