.main-nav {
    height: 68px;
    color: rgb(0, 0, 0);
    align-items: center;
    padding-left: 26px;
    margin-left: 0;
    margin-right: 0;
    display: flex;
}

.nav-logo-text {
    color: rgb(0, 0, 0);
}

.position-btnlogout{
    position: absolute;
	right: 90px;
    
}

.position-emailuser{
    position: absolute;
	right: 220px; 
}

.style-btnlogout {   
    border: 1px solid #000000;
    border-radius: 10px;
    Width: 97px;
    Height: 30px;
    
}

.btnlogout-font-size {
    font-size: 14px;
}