.main-nav {
    height: 68px;
    color: rgb(0, 0, 0);
    align-items: center;
   
    display: flex;
}

.nav-logo-text {
    color: rgb(0, 0, 0);
    margin-left: 40px;
}

.position-currentuser-btnlogout{
    position: absolute;
	right: 146px;
    
}

.position-currentuser{
    margin-right: 10px;
    
}

.style-currentuser{
    font-weight: normal;
}

.style-btnlogout {   
    border: 1px solid #000000;
    border-radius: 10px;
    Width: 97px;
    Height: 30px;
    
}

.btnlogout-font-size {
    font-size: 14px;
}