.input-review {
    background: #FFFFFF;
    border: 1px solid #E1E1E1;
    box-sizing: border-box;
    border-radius: 4px;
    height: 50px;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    align-items: center;
    letter-spacing: -0.015em;
    &:focus {
        color: #000000;
        background-color: #FFFFFF;
      }
      
    &::placeholder {
        color: #9E9E9E;
      }
  }

  .errorvalidation-review{
      text-align: left;
      font-size: 15px;
      color: rgb(255, 87, 87);
     
  }