.movie-info-description {
    text-align: left;
    padding-left: 13px;
    padding-bottom: 34px;
    padding-top: 11px;
   }
   
   .movie-title {
       font-size: 20px;
       line-height: 27px;
       letter-spacing: -0.015em;
       
      
   }
   
   .movie-year {
       font-size: 16px;
       line-height: 22px;
       letter-spacing: -0.015em;
       color: #FFC700; 
   }
   
   .movie-subtitle {
       font-size: 14px;
       line-height: 19px;
       letter-spacing: -0.015em;
       font-weight: normal;
   }

   .movie-info .movie-title {
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.015em;
   }

   .movie-info .movie-year {
    font-size: 24px;
    line-height: 33px;   
    letter-spacing: -0.015em;
    
   }

   .movie-info .movie-subtitle {
    font-size: 24px;
    line-height: 33px;
    letter-spacing: -0.015em;
   }
